[mysqld]
performance_schema=ON
performance_schema=ON
performance-schema-instrument='statement/%=ON'
performance-schema-consumer-statements-digest=ON
innodb_monitor_enable=all
performance_schema.setup_instruments='statement/%'
query_response_time_stats=ON
